<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>SignUp</title>
</head>

<body>
    <%-include('../partials/nav') %>

    <div class="container my-4">
        <h1 class="text-center">Signup to SMetro As admin</h1>
        <form action="/admin/adminsignup" method="post">
            <div class="form-group">
                <label for="masterkey">Master Key</label>
                <input type="password" maxlength="20" class="form-control" id="masterkey" name="masterkey"
                    aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
                <label for="adminname">Admin name</label>
                <input type="text" maxlength="20" class="form-control" id="adminname" name="adminname"
                    aria-describedby="emailHelp" placeholder="Not email" required>
            </div>

            <div class="form-group">
                <label for="adminname">Branch name</label>
                <select class="form-control" id="branchid" name="branchid" required
                                onchange="updateHiddenValue('branchid')">
                                <option value="">Choose..</option>
                                <% for (const row of results) { %>
                                    <option value="<%= row.branchid %>">
                                        <%= row.branchname %>
                                    </option>
                                    <% } %>
                            </select>
                            <input type="hidden" id="hidden_branchid" name="hidden_branchid" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" maxlength="50" class="form-control" id="adminemail" name="adminemail"
                    aria-describedby="emailHelp" required>
            </div>

            <div class="form-group">
                <label for="adminphone">phone</label>
                <input type="tel" class="form-control" id="phone" name="adminphone" maxlength="11" pattern="[0-9]{11}" placeholder="01XXXXXXXXX(Use only digits)" required>
            </div>

            <div class="form-group">
                <label for="adminpassword">Password</label>
                <input type="password" maxlength="23" class="form-control" id="adminpassword" name="adminpassword" required>
            </div>
            <div class="form-group">
                <label for="cadminpassword">Confirm Password</label>
                <input type="password" maxlength="23" class="form-control" id="cadminpassword" name="cadminpassword" required>
                <small id="emailHelp" class="form-text text-muted">Make sure to type the same password</small>
            </div>

            <button type="submit" class="btn btn-primary">SignUp</button><br><br>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        function updateHiddenValue(elementId) {
            const selectedOption = document.getElementById(elementId).value;
            document.getElementById(`hidden_${elementId}`).value = selectedOption;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>